body {
    background-color: #E6E6FA; /* Código hexadecimal para a cor roxo lilás claro */
    margin: 0;
    padding: 0;
}

.form-container {
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza verticalmente */
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
}